h1{
    font-size: 45px;
}
.change-color{
    color: rgb(228, 97, 10);
}
body{
    font-family: 'Luxurious Roman', cursive;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 55%;
}
.explore{
    text-decoration: none;
    background-color: rgb(17, 207, 191);
    padding: 10px 30px;
    border-radius: 10px;
    color: cornsilk;
    font-size: larger;
}

.text-align{
    text-align : center;
}